.english-text-card {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  

  .english-text-card {
    display: block;
    text-decoration: none; 
    color: inherit; 
  }
  
  .card {
    display: flex;
    flex-direction: column;
   border-radius: 8px;
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-footer {
    padding: 8px 16px;
    background-color: #f8f8f8;
  }
  